.parent-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the parent element to the full viewport height */
  }
  
  #calculator {
  width: 300px;
  text-align: center;
  background-color: aliceblue;
  }
  
  #output {
    padding: 10px;
    background-color: #eee;
  }
  
  #buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  #buttons button {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #buttons button:hover {
    background-color: #ccc;
  }
  